/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;

}

body {
  background: linear-gradient(180deg, rgb(25, 5, 90), rgb(0, 0, 0), rgb(31, 26, 59));
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  min-height: 100vh;
}
.flex {
  display: flex;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: center;
  align-items: center wrap;
  margin: 0, auto;
  padding: 0 5%;
}

.header-title{
  padding: 10px;
  border: rgb(130, 140, 255)solid 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 40px 20px rgba(24, 42, 123, 0.9);
}

.card-section {
  border: white solid 5px;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card-shape {
  background: rgb(11, 17, 62);
  border: 5px double rgb(130, 140, 255);
  border-radius: 20px;
  min-height: 450px;
  width: 60%;
  margin-top: 20px;
  box-shadow: 5px 5px 50px 10px rgba(24, 42, 123, 0.9);
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#answer-btn {
  margin-left: 0;
  padding: 1% 5%;
  width: auto;
  position: absolute; 
  bottom: 20px;
}
#question {
  width: 90%;
  height: auto;
  margin-top: 3rem;
}

.form-container {
  height: auto;
  width: 60%;
  justify-content: center;
  align-items: center;
  border: 1px red solid;
  margin: 0 auto;
  margin-top: 4rem;
}

.column label {
  margin: 0;
}
.column-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 100px;
}
.column {
  display: grid;
  grid-gap: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
form {
  width: auto;
  font-size: 2rem;
  font-family: monospace;
  flex-flow: column nowrap;
  border: blue 1px solid;
}

form label {
  margin-bottom: 20px;
  margin-left: 35%;
}

input{
  cursor: pointer;
}

button {
  margin-top: 20px;
  background-color: black;
  color: white;
  width: auto;
  padding: 1% 5%;
  background-color: black;
  border: rgb(130, 140, 255) 5px double;
  border-radius: 15px;
  font-family: monospace;
  font-size: 2rem;
  box-shadow: 5px 5px 40px 20px rgba(24, 42, 123, 0.9);
}

button:hover{
  color:rgb(108, 117, 216);
  cursor: pointer;
}
button:active {
  transform: translateY(4px);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 40px 20px rgba(24, 42, 123, 0.9);
}
.answer-list {
  width: 95%;
  height: auto;
  overflow-y: auto;
  max-height: 300px; /* Adjust the value as needed */
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: .4rem 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
