/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;

}

body {
  background: linear-gradient(180deg, rgb(25, 5, 90), rgb(0, 0, 0), rgb(31, 26, 59));
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  min-height: 100vh;
}
.flex {
  display: flex;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: center;
  align-items: center wrap;
  margin: 1% 0;
}

.header-title{
  padding: 10px;
  border: rgb(130, 140, 255)solid 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 40px 20px rgba(24, 42, 123, 0.9);
}

.card-section {
  /* border: white solid 5px; */
  height: 80vh;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card-shape {
  background: rgb(11, 17, 62);
  border: 5px double rgb(130, 140, 255);
  border-radius: 20px;
  height: 50%;
  width: 50%;
  margin-top: 20px;
  box-shadow: 5px 5px 50px 10px rgba(24, 42, 123, 0.9);
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#answer-btn {
  margin-left: 0;
  width: 40%;
}
#question {
  width: 80%;
  height: auto;
}

.form-container {
  height: 55%;
  width: 50%;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid; */
}

form {
  width: 60%;
  font-size: 2rem;
  font-family: monospace;
  flex-flow: column nowrap;
  /* border: blue 1px solid; */
}

form label {
  margin-bottom: 20px;
  margin-left: 35%;
}

input{
  cursor: pointer;
}

button {
  margin-top: 20px;
  margin-left: 10%;
  background-color: black;
  color: white;
  width: 75%;
  padding: 10px 40px;
  background-color: black;
  border: rgb(130, 140, 255) 5px double;
  border-radius: 15px;
  font-family: monospace;
  font-size: 2rem;
  box-shadow: 5px 5px 40px 20px rgba(24, 42, 123, 0.9);
}

button:hover{
  color:rgb(108, 117, 216);
  cursor: pointer;
}
button:active {
  transform: translateY(4px);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 40px 20px rgba(24, 42, 123, 0.9);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
