
/****************** 
/* MAIN
******************/


.main-section {
  @apply grid-cols-cardgrid
  grid
  w-full h-[75vh]
  px-8
  py-4
}

.card-grid {
  @apply col-start-2 col-end-5
}

/****************** 
/* DISPLAY SECTION
******************/

.display-type-section {
  @apply shadow-cardshadow rounded-3xl
  h-56 
  flex justify-center items-center
}

.display-container {
  @apply col-start-5 w-56
}

