/****************** 
/* HEADER 
******************/

.header-title {
  @apply font-semibold text-3xl/6
  border-[5px] border-[#828cff] rounded-md 
  mt-3
  mb-2
  p-3 
  capitalize
  shadow-buttonshadow shadow-[#182a7b];
}
.header {
  @apply items-center
  flex-wrap flex
  justify-center;
}
