/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;


/* This adds a reusable components block for multiple properties, place the class in element tag <div className="card" etc */

/* @layer components {
  .card {
    background-color: theme(colors.white);
    border-radius: theme(borderRadius.lg);
    padding: theme(spacing.6);
    box-shadow: theme(boxShadow.xl);
  }
} */

/* This adds base values for the project */

/* @layer base {
  h1 {
    @apply text-2xl font-roboto font-bold;
  }
  h2, h3, h4 {
    @apply text-xl font-mono font-medium;
  }
} */





