.scroll-container {
  @apply  w-72 rounded-full py-1
  bg-gradient-to-b from-[#7855ea] from-10% via-[#330eac] via-25% to-[#471cd4] to-80%
  shadow-cardshadow 
  relative grid grid-flow-col gap-3 my-2
}

.scroll-chevron {
  @apply 
  p-2 text-white cursor-pointer absolute opacity-50 
  inline-block 
}

.scroll-svg {
  @apply hover:opacity-100 hover:animate-[ping_0.8s_cubic-bezier(0,0,0.2,1)_2]
}

.scroll-items {
  @apply overflow-x-scroll scroll-smooth  bg-transparent
  transition-transform duration-700 ease-in-out;
}

.btn-container {
  @apply w-auto flex justify-center
}


.scroll-items.left {
  @apply -translate-x-3
}

.scroll-items.right {
  @apply translate-x-3
}


.select-btn {
  @apply inline-block cursor-default py-3 bg-clip-text
  rounded-lg p-0 w-80 text-2xl font-bold text-[#ff8b43]
}

.scroll-items {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-items::-webkit-scrollbar {
    display: none;
}
